<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li>
                        <a href="/">Dashboard</a>
                    </li>
                    <li class="active">
                        {{ page_title }}
                    </li>
                </ol>
            </div>
            <h4 class="page-title">{{ page_title }}</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
